.admin-cont{
    display: flex;
    flex-direction: row;
    /* background-image: url(../images/download.png);
    image-orientation: 0deg;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; */
}
.admin-form{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 40%;
    margin: 50px;
   
}
.admin-form label{
    text-align: left;
}
.admin-form input{
    border: none;
    padding: 10px;
    border-bottom: 2px solid black;
    /* box-shadow: 5px 5px 10px 1px rgb(129, 129, 129); */
}
.admin-btns{
    margin: auto;
    display: flex;
    flex-direction: column;
}
.admin-cont button{
    padding: 20px 40px;
    border: none;
    background-color: white;
    /* box-shadow: 5px 5px 10px 1px rgb(129, 129, 129); */
}
.admin-cont button:hover{
    background-color: rgb(115, 59, 153);
    color: white;
}

/* ppppppppppppppppppppppppppppppppp */

.admin-nav-pages ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    cursor: pointer;
}

.admin-nav-pages ul li{
    padding-right: 50px;
}

.admin-nav-cont ul li:hover{
    color: lightblue;
}

.admin-nav-cont a{
    text-decoration: none;
    color: black;
}

.admin-nav-cont img{
    margin: 0;
    padding-left: 40px;  
    width: 130px;
    height: 90px;  
}

.admin-nav-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: large;
    align-items: center;
    padding:0 20px;
    /* box-shadow: 5px 10px 10px lightblue; */
}
/* mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm */

.admin-cand-conts{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.admin-cand-conts label{
    text-align: left;
    cursor: pointer;
}
.admin-cand-conts input{
    padding: 10px 40px;
}

/* nnnnnnnnnnnnnnnnnnnnnnnn */

.admin-results-cont{
    margin: auto;
    padding: 60px;  
    width: 100%;
}
.admin-results-cont table{
    background-color: rgb(185, 146, 211);
    width: 70%;
}
.admin-results-cont td,th{
    padding: 20px;
    border:none;
}

tr:nth-child(odd) {background-color: rgb(221, 170, 255);}